// dark-theme colors
$main-bg: #202020;
$sub-bg: #303030;
$txt: #ababab;
$link: #fff;
$link-bg: #404040;
$link-hvr: #00cc33;
$link-hvr-bg: #303030;
$hf-bg: #101010;
$hf-sub-bg: #101010;
$hf-link: #fff;
$hf-link-hvr: #00cc33;
$hf-link-hvr-bg: radial-gradient(closest-side, #303030, #202020, #101010);
$addlink-bg: rgba(0, 0, 0, 0.9);
$input-border: #00cc33;
