// light-theme colors
$main-bg: #fff;
$sub-bg: #ccc;
$txt: #000;
$link: #fff;
$link-bg: #3e8979;
$link-hvr: #fff;
$link-hvr-bg: #397b6d;
$hf-bg: #fff;
$hf-sub-bg: #fff;
$hf-link: #ab377a;
$hf-link-hvr: #003b33;
$hf-link-hvr-bg: radial-gradient(closest-side, #bbb, #ddd, #fff);
$addlink-bg: rgba(210, 210, 210, 0.9);
$input-border: #ab377a;