$white: #ffffff;
$black: #000000;
/* Light-Theme colors */
$turkis-light: #3e8979;
$turkis-dark: #397b6d;
$pink-light: #eed7e4;
$pink-dark: #ab377a;
/* Dark-Theme colors */
$text-grey-light: #ababab;
$text-green-light: #00ff44;
$text-green: #00cc33;
$text-green-dark: #00aa22;
$grey-light: #606060;
$grey: #404040;
$grey-dark: #303030;
$bg-grey: #202020;
$hf-grey: #101010;
