/* Allgemein */
body {
    width: 100vw;
    max-width: 100%;
    margin: 0;
    text-align: center;
}

.font-rale {
    font-family: 'Raleway', sans-serif;
}
.font-eco {
    font-family: 'Economica', sans-serif;
}
.b {
    font-weight: bold;
}
.art-title {
    color: #990c0c;
    font-size: 6vw;
}

/* Head & Navigation #Abschnitt1 */
header {
    height: 100vw;
    max-height: 100vh;
    background: url(saku123/bgr1.jpg) 100% 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
}
header h1 {
    font-size: 8vw;
}
header h2 {
    font-weight: normal;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}
#logo {
    position: absolute;
    left: 80px;
    top: 20px;
    height: 6vw;
    width: auto;
}
.phone {
    background-color: #a2080a;
    border: 2px solid #fff;
    border-radius: 8px;
    padding: 5px 20px 5px 20px;
    display: flex;
    align-items: center;
}
.phone img {
    height: 25px;
}
nav a {
    color: #fff;
    margin: 15px;
    text-decoration: none;
}
/* How to order #Abschnitt2 */
#howto {
    padding: 30px;
    font-size: 3vw;
}
#howto section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#howto img {
    height: 12vw;
}


/* Menü #Abschnitt3 */

#menu {
    background: url(saku123/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: #606060;
    font-size: 2vw;
    padding-bottom: 40px;
}
#menu section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px 100px;
    text-align: left;
    margin-bottom: 40px;
}
#menu h2 {
    font-size: 4vw;
    margin-top: 0;
    color: #000;
}
.dish {
    height: 20vw;
}
.space {
    width: 20vw;
}
/* Location #Abschnitt4 */

#map {
    padding: 0;
    font-size: 2.2vw;
}

#map img {
    height: 2.2vw;
}
#map h1 {
    margin-top: 0;
}

/* Footer */

footer {
    padding: 15px 40px 15px 40px;
    color: #d20201;
}

#about {
    float: left;
    display: flex;
    align-items: center;
}
#about img {
    height: 25px;
    margin: 10px;
}
#social {
    float: right;
}
#social img {
    height: 40px;
    margin: 10px;
}